<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
    	<id>anypoint-exchange-v3</id>
         <username>~~~Client~~~</username>
		 <password>6a7bf91079a84bab983f25b3e0138069~?~A58E47317Df64c6b87B8281600fb7b67</password>
      </server>
  </servers>
</settings>